@import "boxes";
@import "inputs";
@import "body";

@mixin inputstyle(
  $input-border,
  $input-width,
  $input-fontsize,
  $input-margin,
  $input-padding
) {
  border: $input-border;
  width: $input-width;
  font-size: $input-fontsize;
  margin: $input-margin;
  padding: $input-padding;
}
@mixin titulos($font-size, $display, $margin, $text-shadow, $font-weight) {
  font-size: $font-size;
  display: $display;
  margin: $margin;
  text-shadow: $text-shadow;
  font-weight: $font-weight;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*Las clases backgroundNosotros y contact-body tuve que dejarla afuera del body para que funcione y no entendi porque sucedia esto*/
.backgroundNosotros {
  background-image: $bg-nosotros;
  background-size: 100vw;
  background-attachment: fixed;
  background-size: cover;
}
.contact-body {
  background-image: $bg-contacto;
  background-attachment: fixed;
}

body {
  background-color: $bg-color;
  background-image: $bg-image;
  background-repeat: $bg-repeat;
  background-attachment: $bg-attachment;
  background-size: $bg-size;
  font-family: $body-family;
  color: $family-color;

  /*La clase mainBackground es de la seccion index*/
  .mainBackground,
  .main-componentes,
  .ensambladoBackground {
    background: linear-gradient(
      to top,
      rgb(36, 36, 36),
      rgb(36, 36, 36) 25%,
      transparent
    );
    background-size: 100vw;
  }

  header {
    /*Estilos propios agregados a Bootstrap*/
    .headerContainer__section {
      margin: 20px;
      img {
        width: 300px;
        transition: 0.3s;
      }
      img:hover {
        transform: scale(1.025, 1.025);
      }
    }
  }
  main {
    /*SECCION INICIO*/
    .mainIndex-section {
      width: 100%;
      height: 100vh;
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      align-items: center;
      margin-top: 120px;
    }
    .mainIndex-section__div {
      font-size: 25px;
      width: 800px;
      margin: 30px;
      margin-left: 60px;
      margin-right: 15px;
      flex: 1;
      display: flex;
      h2 {
        text-shadow: 4px 3px 4px black;
        font-weight: lighter;
      }
    }
    .mainIndex-section__div--video {
      border-radius: 20px;
      margin: 30px;
      margin-right: 60px;
      margin-left: 15px;
      iframe {
        border-radius: 15px;
      }
    }
    .mainIndex-section__div--btn {
      width: 100vw;
      margin: 50px;
      display: flex;
      flex-flow: row nowrap;
      justify-content: center;
      a {
        background-color: rgb(41, 80, 58);
        padding: 25px 50px;
        color: white;
        text-decoration: none;
        font-size: 25px;
        text-align: center;
        border-radius: 10px;
        transition: 0.4s;
        &:hover {
          background-color: white;
          color: rgb(41, 80, 58);
          transform: scale(1.05, 1.05);
        }
      }
    }
    /*SECCION COMPONENTES*/
    .main-componentes__h2 {
      position: relative;
      top: 20px;
      left: 30px;
      margin-bottom: 55px;
      @include titulos(45px, inline-block, 20px, 4px 4px 3px black, lighter);
    }
    .main-componentes__section {
      width: 95%;
      display: grid;
      margin: 40px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(5, 3fr);
      gap: 10px 10px;
      grid-template-areas:
        "gridItem1 gridItem1 img1"
        "img2 gridItem2 gridItem2"
        "gridItem3 gridItem3 img3"
        "img4 gridItem4 gridItem4"
        "gridItem5 gridItem5 img5";
      justify-content: center;
      align-content: center;
      align-items: center;
    }
    .main-componentes__section--item1 {
      grid-area: gridItem1;
      background-color: rgb(77, 77, 77);
      border-radius: 15px;
      padding: 30px;
      padding-top: 10px;
      box-shadow: 3px 3px 8px black;
    }
    .main-componentes__section--img1 {
      grid-area: img1;
      justify-self: end;
    }
    .main-componentes__section--item2 {
      grid-area: gridItem2;
      background-color: rgb(77, 77, 77);
      border-radius: 15px;
      padding: 30px;
      padding-top: 10px;
      box-shadow: 3px 3px 8px black;
    }
    .main-componentes__section--img2 {
      grid-area: img2;
      justify-self: start;
    }
    .main-componentes__section--item3 {
      grid-area: gridItem3;
      background-color: rgb(77, 77, 77);
      border-radius: 15px;
      padding: 30px;
      padding-top: 10px;
      box-shadow: 3px 3px 8px black;
    }
    .main-componentes__section--img3 {
      grid-area: img3;
      justify-self: end;
    }
    .main-componentes__section--item4 {
      grid-area: gridItem4;
      background-color: rgb(77, 77, 77);
      border-radius: 15px;
      padding: 30px;
      padding-top: 10px;
      box-shadow: 3px 3px 8px black;
    }
    .main-componentes__section--img4 {
      grid-area: img4;
      justify-self: start;
    }
    .main-componentes__section--item5 {
      grid-area: gridItem5;
      background-color: rgb(77, 77, 77);
      border-radius: 15px;
      padding: 30px;
      padding-top: 10px;
      box-shadow: 3px 3px 8px black;
    }
    .main-componentes__section--img5 {
      grid-area: img5;
      justify-self: end;
    }
    .main-componentes__section--img1,
    .main-componentes__section--img2,
    .main-componentes__section--img3,
    .main-componentes__section--img4,
    .main-componentes__section--img5 {
      img {
        width: 400px;
        border-radius: 20px;
        margin: 20px;
        box-shadow: 5px 5px 10px black;
        transition: 0.5s;
        &:hover {
          transform: scale(1.25, 1.25);
        }
      }
    }

    .main-componentes__section--item1,
    .main-componentes__section--item2,
    .main-componentes__section--item3,
    .main-componentes__section--item4,
    .main-componentes__section--item5 {
      h2 {
        font-size: 2.5rem;
        text-shadow: 4px 4px 3px black;
        padding: 30px;
        font-weight: lighter;
      }
      p {
        font-size: 1rem;
        text-shadow: 3px 3px 3px black;
      }
    }
    .textoEnd {
      text-align: end;
    }
    .main-sizes {
      background-color: rgb(77, 77, 77);
      border-radius: 25px 25px 0 0;
      border-top: solid 6px rgb(32, 32, 32);
      padding: 40px 20px;
      height: 600px;
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
    }
    .main-sizes__img {
      margin-top: 30px;
      border-radius: 20px;
      border-right: solid 6px rgb(32, 32, 32);
      border-bottom: solid 6px rgb(32, 32, 32);
    }
    .main-sizes__h3 {
      font-size: 27px;
      text-align: center;
      text-shadow: 2px 2px 3px black;
      font-weight: lighter;
    }
    /*SECCION ENSAMBLADO*/
    .textos-ensamblado {
      width: 99vw;
      display: flex;
      flex-flow: column wrap;
    }
    .textos-ensamblado__divtexto {
      background-color: rgb(77, 77, 77);
      width: 65%;
      margin: 20px;
      margin-top: 80px;
      padding: 20px;
      border-radius: 2px 15px 15px 2px;
      box-shadow: 1px 1px 10px black;
      display: flex;
      flex-flow: column wrap;
      justify-content: flex-start;
    }
    .textos-ensamblado__divtexto--h1 {
      @include titulos(40px, inline-block, 15px, 4px 4px 3px black, lighter);
    }
    .textos-ensamblado__divtexto--p {
      margin-top: 30px;
      font-size: 20px;
      text-shadow: 2px 2px 3px black;
    }
    .textos-ensamblado__divimg {
      display: flex;
      flex-flow: row wrap;
      justify-content: center;
      width: 99vw;
      img {
        border-radius: 15px;
        box-shadow: 2px 2px 10px black;
        margin: 30px;
      }
    }
    .textos-ensamblado__divmedia {
      display: flex;
      flex-flow: column wrap;
      justify-content: space-around;
      align-items: center;
      width: 99vw;
    }
    .textos-ensamblado__divmedia--h2 {
      margin: 30px 0 60px 0;
      font-size: 30px;
      text-shadow: 2px 2px 3px black;
      font-weight: lighter;
    }
    .textos-ensamblado__divmedia--iframe {
      width: 952px;
      height: 536px;
      border-radius: 15px;
      box-shadow: 2px 1px 10px black;
      margin-bottom: 60px;
    }
    /*SECCION NOSOTROS*/
    .section-nosotros {
      margin: 250px 0 250px 0;
    }
    .box-nosotros {
      background-color: $box-color;
      border-radius: 3px 10px 10px 3px;
      box-shadow: 3px 2px 10px black;
    }
    .textos-nosotros {
      padding: 7px;
      text-shadow: 3px 3px 4px black;
      font-size: 40px;
      font-weight: lighter;
      display: flex;
      flex-flow: column wrap;
      justify-content: start;
      width: 90vw;
      margin: 30px;
      align-content: flex-start;
    }
    .textos-nosotros__div--h2 {
      width: 100%;
      h2 {
        @extend .textos-nosotros;
        margin-left: 35px;
      }
    }
    .textos-nosotros__div--p {
      width: 100%;
      p {
        @extend .textos-nosotros;
        font-size: 0.6em;
        padding-right: 80px;
        margin-bottom: 70px;
      }
    }
    /*SECCION CONTACTO*/
    .contact-container {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 800px;
    }
    .flex-container {
      background-color: rgb(48, 48, 48);
      width: 500px;
      height: 500px;
      margin: 30px;
      padding: 20px;
      border-radius: 15px;
      display: flex;
      flex-direction: column;
      align-items: center;
    }

    .flex-container__input--titulo {
      font-size: 35px;
      margin: 7px;
      text-shadow: 2px 2px 2px black;
      font-weight: lighter;
    }

    .flex-container__input {
      font-family: $inputbtn-font;
      border-radius: 5px;
      @include inputstyle(none, 100%, 0.8em, 10px 0 10px 0, 5px);
      resize: none;
    }
    .flex-container__input--btn {
      background-color: gray;
      border: none;
      font-family: $inputbtn-font;
      border-radius: 3px;
      width: 75%;
      margin: 10px 0 10px 0;
      padding: 5px;
      transition: 0.5s;
      font-weight: bold;
      &:hover {
        color: rgb(83, 216, 150);
        background-color: rgb(26, 26, 26);
        transform: translate(0, 5px);
      }
    }
  }
  footer {
    /*Estilos propios agregados a Bootstrap*/
    .footer-container__section {
      img {
        transition: 0.4s;
        &:hover {
          transform: scale(1.025, 1.025);
        }
      }
    }
    .footer-container__section--nav {
      font-weight: lighter;
      a {
        text-decoration: none;
        list-style-type: none;
        color: rgb(209, 209, 209);
        margin: 5px;
        transition: 0.5s;
        &:hover {
          color: rgb(70, 179, 124);
        }
      }
    }
  }
}
/*MEDIA QUERIES*/
@media only screen and (min-width: 1300px) {
  /*Estilos propios agregados a Bootstrap*/
  .navDecoration {
    li {
      border: solid;
      border-radius: 20px;
      margin: 0 10px 0 10px;
      transition: 0.3s;
      &:hover {
        border: solid rgb(60, 158, 101);
      }
      a {
        padding: 0 10px 0 10px;
      }
    }
  }
}
/*Este media querie de 1300px a 1500px lo agregue porque cuando observe mi sitio en una notebook, el mismo tenia algunas cosas que se veian mal*/
@media only screen and (max-width: 1500px) and (min-width: 1300px) {
  body {
    main {
      .mainIndex-section {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
        height: 1000px;
      }
      .mainIndex-section__div {
        width: 1300px;
        text-align: center;
        margin: 0;
        h2 {
          font-size: 30px;
          text-shadow: 4px 3px 4px black;
          font-weight: lighter;
          text-align: center;
        }
      }
      .mainIndex-section__div--video {
        margin: 40px;
        iframe {
          width: 712px;
          height: 400px;
        }
      }
      .mainIndex-section__div--btn {
        margin: 40px 40px 200px 40px;
        width: 90%;
      }
    }
  }
}
@media only screen and (max-width: 1300px) and (min-width: 840px) {
  body {
    header {
      /*Estilos propios agregados a Bootstrap*/
      .headerContainer__section {
        img {
          width: 200px;
        }
      }
      .borderBurger {
        border-top: white solid 1px;
      }
    }
    main {
      /*SECCION INICIO*/
      .mainIndex-section {
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .mainIndex-section__div {
        width: 825px;
        text-align: center;
        flex: 0;
        margin: 0;
        h2 {
          font-size: 30px;
          text-shadow: 4px 3px 4px black;
          font-weight: lighter;
          text-align: center;
        }
      }
      .mainIndex-section__div--video {
        margin: 40px;
        iframe {
          width: 712px;
          height: 400px;
        }
      }
      .mainIndex-section__div--btn {
        margin: 50px 25px;
        width: 90%;
      }
      /*SECCION COMPONENTES*/
      .main-componentes__h2 {
        margin-bottom: 55px;
      }
      .main-componentes__section {
        width: 95%;
        display: grid;
        margin: 10px;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: repeat(5, 2fr);
        gap: 20px 20px;
        grid-template-areas:
          "gridItem1 img1"
          "img2 gridItem2"
          "gridItem3 img3"
          "img4 gridItem4"
          "gridItem5 img5";
        justify-content: start;
        align-content: center;
        align-items: center;
      }

      .main-componentes__section--item1 {
        width: 100%;
        height: 400px;
        grid-area: gridItem1;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: start;
      }
      .main-componentes__section--img1 {
        grid-area: img1;
        justify-self: start;
      }
      .main-componentes__section--item2 {
        width: 100%;
        height: 400px;
        grid-area: gridItem2;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 15px;
        box-shadow: 3px 3px 8px black;
        justify-self: start;
      }
      .main-componentes__section--img2 {
        width: 90%;
        grid-area: img2;
        justify-self: start;
      }
      .main-componentes__section--item3 {
        width: 100%;
        height: 400px;
        grid-area: gridItem3;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: start;
      }
      .main-componentes__section--img3 {
        width: 90%;
        grid-area: img3;
        justify-self: start;
      }
      .main-componentes__section--item4 {
        width: 100%;
        height: 400px;
        grid-area: gridItem4;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: start;
      }
      .main-componentes__section--img4 {
        width: 90%;
        grid-area: img4;
        justify-self: start;
      }
      .main-componentes__section--item5 {
        width: 100%;
        height: 400px;
        grid-area: gridItem5;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: start;
      }
      .main-componentes__section--img5 {
        width: 90%;
        grid-area: img5;
        justify-self: start;
      }
      .main-componentes__section--img1,
      .main-componentes__section--img2,
      .main-componentes__section--img3,
      .main-componentes__section--img4,
      .main-componentes__section--img5 {
        img {
          width: 400px;
          border-radius: 20px;
          margin: 0;
          box-shadow: 5px 5px 10px black;
          transition: 0.5s;
          &:hover {
            transform: none;
          }
        }
      }
      .main-componentes__section--item1,
      .main-componentes__section--item2,
      .main-componentes__section--item3,
      .main-componentes__section--item4,
      .main-componentes__section--item5 {
        h2 {
          font-size: 2.5rem;
          text-shadow: 4px 4px 3px black;
          padding: 15px;
          font-weight: lighter;
        }
        p {
          font-size: 1rem;
          text-shadow: 3px 3px 3px black;
        }
      }
      .main-sizes {
        padding: 20px 20px;
        height: 600px;
      }
      .main-sizes__img {
        width: 600px;
      }
      /*SECCION ENSAMBLADO*/
      .textos-ensamblado__divtexto {
        background-color: rgb(77, 77, 77);
        width: 95%;
        margin: 20px;
        margin-top: 80px;
        padding: 20px;
        border-radius: 2px 15px 15px 2px;
        box-shadow: 1px 1px 10px black;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
      }
      .textos-ensamblado__divtexto--h1 {
        font-size: 40px;
        text-shadow: 4px 4px 3px black;
        font-weight: lighter;
        margin-left: 15px;
      }
      .textos-ensamblado__divtexto--p {
        margin-top: 30px;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
      }

      .textos-ensamblado__divimg {
        img {
          border-radius: 15px;
          box-shadow: 2px 2px 10px black;
          margin: 30px;
        }
      }

      .textos-ensamblado__divmedia--h2 {
        margin: 30px 0 60px 0;
        font-size: 30px;
        text-shadow: 2px 2px 3px black;
        font-weight: lighter;
      }
      .textos-ensamblado__divmedia--iframe {
        width: 714px;
        height: 402px;
        border-radius: 15px;
        box-shadow: 2px 1px 10px black;
        margin-bottom: 60px;
      }
    }
  }
}
@media only screen and (max-width: 840px) and (min-width: 414px) {
  body {
    header {
      /*Estilos propios agregados a Bootstrap*/
      .headerContainer__section {
        img {
          width: 200px;
        }
      }
      .borderBurger {
        border-top: white solid 1px;
      }
    }
    main {
      /*SECCION INICIO*/
      .mainIndex-section {
        height: 700px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .mainIndex-section__div {
        width: 500px;
        text-align: center;
        flex: 0;
        margin: 0;
        h2 {
          font-size: 15px;
          text-shadow: 4px 3px 4px black;
          font-weight: lighter;
          text-align: center;
        }
      }
      .mainIndex-section__div--btn {
        margin: 50px 25px;
        width: 90%;
      }
      .mainIndex-section__div--video {
        margin: 40px;

        iframe {
          width: 427px;
          height: 240px;
          justify-self: center;
        }
      }
      /*SECCION COMPONENTES*/
      .main-componentes__h2 {
        margin-bottom: 55px;
      }
      .main-componentes__section {
        width: 95%;
        display: grid;
        margin: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        gap: 20px 20px;
        grid-template-areas:
          "gridItem1"
          "img1"
          "gridItem2"
          "img2"
          "gridItem3"
          "img3"
          "gridItem4"
          "img4"
          "gridItem5"
          "img5";
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      .main-componentes__section--item1 {
        width: 400px;
        height: 400px;
        grid-area: gridItem1;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img1 {
        width: 400px;
        grid-area: img1;
        justify-self: center;
      }
      .main-componentes__section--item2 {
        width: 400px;
        height: 400px;
        grid-area: gridItem2;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 15px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img2 {
        width: 400px;
        grid-area: img2;
        justify-self: center;
      }
      .main-componentes__section--item3 {
        width: 400px;
        height: 400px;
        grid-area: gridItem3;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img3 {
        width: 400px;
        grid-area: img3;
        justify-self: center;
      }
      .main-componentes__section--item4 {
        width: 400px;
        height: 400px;
        grid-area: gridItem4;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img4 {
        width: 400px;
        grid-area: img4;
        justify-self: center;
      }
      .main-componentes__section--item5 {
        width: 400px;
        height: 400px;
        grid-area: gridItem5;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img5 {
        width: 400px;
        grid-area: img5;
        justify-self: center;
      }
      .main-componentes__section--img1,
      .main-componentes__section--img2,
      .main-componentes__section--img3,
      .main-componentes__section--img4,
      .main-componentes__section--img5 {
        img {
          width: 400px;
          border-radius: 20px;
          margin: 0;
          box-shadow: 5px 5px 10px black;
          transition: 0.5s;
          &:hover {
            transform: none;
          }
        }
      }

      .main-componentes__section--item1,
      .main-componentes__section--item2,
      .main-componentes__section--item3,
      .main-componentes__section--item4,
      .main-componentes__section--item5 {
        h2 {
          font-size: 2rem;
          text-shadow: 4px 4px 3px black;
          padding: 15px;
          font-weight: lighter;
        }
        p {
          font-size: 1rem;
          text-shadow: 3px 3px 3px black;
        }
      }
      .textoEnd {
        text-align: start;
      }
      .main-sizes {
        padding: 20px 20px;
        height: 500px;
      }
      .main-sizes__img {
        width: 450px;
        transition: 0.3s;
      }
      .main-sizes__h3 {
        font-size: 20px;
      }
      /*SECCION ENSAMBLADO*/
      .textos-ensamblado {
        width: 90vw;
        display: flex;
        flex-flow: column wrap;
      }
      .textos-ensamblado__divtexto {
        background-color: rgb(77, 77, 77);
        width: 95%;
        margin: 20px;
        margin-top: 80px;
        padding: 20px;
        border-radius: 2px 15px 15px 2px;
        box-shadow: 1px 1px 10px black;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
      }
      .textos-ensamblado__divtexto--h1 {
        font-size: 30px;
        text-shadow: 4px 4px 3px black;
        font-weight: lighter;
        margin-left: 15px;
      }
      .textos-ensamblado__divtexto--p {
        margin-top: 30px;
        font-size: 15px;
        text-shadow: 2px 2px 3px black;
      }
      .textos-ensamblado__divimg {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 95vw;
      }
      .textos-ensamblado__divimg {
        img {
          border-radius: 15px;
          box-shadow: 2px 2px 10px black;
          margin: 30px;
        }
      }
      .textos-ensamblado__divmedia {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        width: 95vw;
      }
      .textos-ensamblado__divmedia--h2 {
        margin: 30px 0 60px 0;
        font-size: 20px;
        text-shadow: 2px 2px 3px black;
        font-weight: lighter;
        text-align: center;
      }
      .textos-ensamblado__divmedia--iframe {
        width: 428px;
        height: 242px;
        border-radius: 15px;
        box-shadow: 2px 1px 10px black;
        margin-bottom: 60px;
      }
    }
  }
}
@media only screen and (max-width: 414px) {
  body {
    header {
      /*Estilos propios agregados a Bootstrap*/
      .headerContainer__section {
        margin: 10px;
        img {
          width: 150px;
          margin: 0px;
        }
      }
      .borderBurger {
        border-top: white solid 1px;
      }
    }
    main {
      /*SECCION INICIO*/
      .mainIndex-section {
        height: 60vh;
        margin-top: 20px;
        flex-flow: column nowrap;
        justify-content: center;
        align-items: center;
      }
      .mainIndex-section__div {
        width: 300px;
        text-align: center;
        padding: 10px 5px;
        flex: 0;
        margin: 0;
        h2 {
          font-size: 13px;
          text-shadow: 4px 3px 4px black;
          font-weight: lighter;
          text-align: center;
        }
      }
      .mainIndex-section__div--video {
        margin: 15px 0;
        iframe {
          width: 272px;
          height: 152px;
        }
      }
      .mainIndex-section__div--btn {
        width: 50vw;
        margin: 25px 0;
        display: flex;
        flex-flow: row nowrap;
        justify-content: center;
        a {
          font-size: 15px;
          padding: 20px 40px;
        }
      }
      /*SECCION COMPONENTES*/
      .main-componentes__h2 {
        font-size: 35px;
        margin-bottom: 55px;
      }
      .main-componentes__section {
        width: 95%;
        display: grid;
        margin: 10px;
        grid-template-columns: 1fr;
        grid-template-rows: repeat(10, 1fr);
        gap: 20px 20px;
        grid-template-areas:
          "gridItem1"
          "img1"
          "gridItem2"
          "img2"
          "gridItem3"
          "img3"
          "gridItem4"
          "img4"
          "gridItem5"
          "img5";
        justify-content: center;
        align-content: center;
        align-items: center;
      }

      .main-componentes__section--item1 {
        width: 300px;
        height: 300px;
        grid-area: gridItem1;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img1 {
        width: 300px;
        grid-area: img1;
        justify-self: center;
      }
      .main-componentes__section--item2 {
        width: 300px;
        height: 350px;
        grid-area: gridItem2;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 0px;
        padding-bottom: 15px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img2 {
        width: 300px;
        grid-area: img2;
        justify-self: center;
      }
      .main-componentes__section--item3 {
        width: 300px;
        height: 300px;
        grid-area: gridItem3;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img3 {
        width: 300px;
        grid-area: img3;
        justify-self: center;
      }
      .main-componentes__section--item4 {
        width: 300px;
        height: 300px;
        grid-area: gridItem4;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img4 {
        width: 300px;
        grid-area: img4;
        justify-self: center;
      }
      .main-componentes__section--item5 {
        width: 300px;
        height: 300px;
        grid-area: gridItem5;
        background-color: rgb(77, 77, 77);
        border-radius: 15px;
        padding: 30px;
        padding-top: 10px;
        box-shadow: 3px 3px 8px black;
        justify-self: center;
      }
      .main-componentes__section--img5 {
        width: 300px;
        grid-area: img5;
        justify-self: center;
      }
      .main-componentes__section--img1,
      .main-componentes__section--img2,
      .main-componentes__section--img3,
      .main-componentes__section--img4,
      .main-componentes__section--img5 {
        img {
          width: 300px;
          border-radius: 20px;
          margin: 0;
          box-shadow: 5px 5px 10px black;
          transition: 0.5s;
          &:hover {
            transform: none;
          }
        }
      }

      .main-componentes__section--item1,
      .main-componentes__section--item2,
      .main-componentes__section--item3,
      .main-componentes__section--item4,
      .main-componentes__section--item5 {
        h2 {
          font-size: 1.5rem;
          text-shadow: 4px 4px 3px black;
          padding: 15px;
          font-weight: lighter;
        }
        p {
          font-size: 0.75rem;
          text-shadow: 3px 3px 3px black;
        }
      }
      .textoEnd {
        text-align: start;
      }
      .main-sizes {
        padding: 40px 20px;
        height: 450px;
      }
      .main-sizes__img {
        width: 300px;
        transition: 0.3s;
      }
      .main-sizes__h3 {
        font-size: 15px;
      }
      /*SECCION ENSAMBLADO*/
      .textos-ensamblado {
        width: 90vw;
        display: flex;
        flex-flow: column wrap;
      }
      .textos-ensamblado__divtexto {
        background-color: rgb(77, 77, 77);
        width: 95%;
        margin: 20px;
        margin-top: 80px;
        padding: 20px;
        border-radius: 2px 15px 15px 2px;
        box-shadow: 1px 1px 10px black;
        display: flex;
        flex-flow: column wrap;
        justify-content: flex-start;
      }
      .textos-ensamblado__divtexto--h1 {
        font-size: 30px;
        text-shadow: 4px 4px 3px black;
        font-weight: lighter;
        margin-left: 15px;
      }
      .textos-ensamblado__divtexto--p {
        margin-top: 30px;
        font-size: 15px;
        text-shadow: 2px 2px 3px black;
      }
      .textos-ensamblado__divimg {
        display: flex;
        flex-flow: row wrap;
        justify-content: center;
        width: 99vw;
      }
      .textos-ensamblado__divimg {
        img {
          border-radius: 15px;
          box-shadow: 2px 2px 10px black;
          margin: 30px;
          width: 342px;
        }
      }
      .textos-ensamblado__divmedia {
        display: flex;
        flex-flow: column wrap;
        justify-content: space-around;
        align-items: center;
        width: 99vw;
      }
      .textos-ensamblado__divmedia--h2 {
        margin: 30px 0 60px 0;
        font-size: 17px;
        text-shadow: 2px 2px 3px black;
        font-weight: lighter;
        text-align: center;
      }
      .textos-ensamblado__divmedia--iframe {
        width: 342px;
        height: 194px;
        border-radius: 15px;
        box-shadow: 2px 1px 10px black;
        margin-bottom: 60px;
      }
      /*SECCION NOSOTROS*/
      .section-nosotros {
        margin: 100px 0 100px 0;
      }
      .textos-nosotros {
        padding: 7px;
        text-shadow: 3px 3px 4px black;
        font-size: 40px;
        font-weight: lighter;
        display: flex;
        flex-flow: column wrap;
        justify-content: start;
        width: 80vw;
        margin: 30px;
        align-content: flex-start;
      }
      .textos-nosotros__div--h2 {
        h2 {
          margin: 0;
          padding: 20px;
          font-size: 25px;
        }
      }
      .textos-nosotros__div--p {
        p {
          padding: 20px;
          margin: 0;
          font-size: 0.3em;
        }
      }
      /*SECCION CONTACTO*/
      .flex-container {
        width: 400px;
        height: 400px;
        textarea {
          height: 100px;
        }
      }
      .flex-container__input--titulo {
        font-size: 25px;
      }
      .flex-container__input {
        height: 30px;
      }
    }
  }
}
